<h2>Você está sendo atacado!!!</h2>

<section class="scene-details">
	<%= image_tag @selected_monster.npc.image, :width => "100%"%>
	
	<h3><%= @selected_monster.npc.name %></h3>
	<div class="npc-hp">
		<div class="actual-hp hp-urgency-<%= @selected_monster.hp_urgency %>" style="width:<%=@selected_monster.hp_percentage%>%"></div>
	</div>
</section>

<section class="hero-details">
	<h1>Olá <%= @logged_data.npc.name %></h1>
	<h2>Level: <%= @logged_data.npc.level %></h2>
	<div class="npc-hp">
		<div class="hp-number">HP: <%= @logged_data.hp %> / <%= @logged_data.npc.hp %></div>
		<div class="actual-hp hp-urgency-<%= @logged_data.hp_urgency %>" style="width:<%=@logged_data.hp_percentage%>%">
		</div>
	</div>
	
	<%= image_tag @logged_data.npc.image, :width => "200px", :class => 'hero-avatar' %>
	
	<div class="hero-experience">
		<h2>GiGs: <%= @logged_data.npc.money.to_i %></h2>
	</div>
	<div class="hero-experience">
		<h2>Exp: <%= @logged_data.experience %>/<%= @max_xp_for_level %></h2>
	</div>
	
	<section class="hero-details-left">
		<h2>Itens equipados</h2>
		<ul>
			<% @logged_data.equiped_items.each do |hero_item| %>
				<li>
					<%= image_tag hero_item.item.image, :width => "50px"%>
					<span><%= hero_item.item.name %></span>
				</li>
			<% end %>
		</ul>
		

		<section class="scene-actions">
			<h2>E ai, o que você faz?</h2>
			<ul>
				<li>
					<a href="<%= battle_physical_attack_path %>">
						<h3>Atacar</h3>
						<%= image_tag "/assets/battle-attack.png", :width => "50px" %>
					</a>
				</li>
				<li>
					<a href="">
						<h3>Fugir</h3>
						<%= image_tag "/assets/battle-escape.png", :width => "50px" %>
					</a>
				</li>
				<% #@battle_actions.each do |ba| %>
						<%#= ba.name %>			
						<%#= image_tag ba.image, :width => "50px" %>
				<% #end %>
			</ul>
		</section>
	</section>
	
	<div class="hero-items">
		<h2>Meus itens</h2>
		<ul>
			<% @logged_data.items.each do |hero_item| %>
				<li>
					<a href="<%= use_item_path(hero_item.id)%>"><%= image_tag hero_item.item.image, :width => "50px"%>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
</section>

<%= audio_tag("battle.mp3", autoplay: true) %>