<div class="app-logo">
	<%= image_tag "logo-1.png" %>
</div>

<h2>Você está em: <%= @logged_data.scene.name %></h2>

<section class="scene-details">
	<div class="scene-image">
		<%= image_tag @logged_data.scene.image, :width => "100%"%>
	</div>
	
	<h3><%= @logged_data.scene.description %></h3>
</section>

<section class="hero-details">
	<h1>Olá <%= @logged_data.npc.name %></h1>
	<h2>Level: <%= @logged_data.npc.level %></h2>

	<div class="npc-hp">
		<div class="hp-number">HP: <%= @logged_data.hp %> / <%= @logged_data.npc.hp %></div>
		<div class="actual-hp hp-urgency-<%= @logged_data.hp_urgency %>" style="width:<%=@logged_data.hp_percentage%>%">		</div>
	</div>

	<%= image_tag @logged_data.npc.image, :width => "200px", :class => 'hero-avatar' %>
	
	<div class="hero-experience">
		<h2>Exp: <%= @logged_data.experience %>/<%= @max_xp_for_level %></h2>
	</div>
	
	<div class="hero-items">
		<h2>Meus itens</h2>
		<ul>
			<% @logged_data.items.each do |hero_item| %>
				<li>
					<a href="<%= use_item_path(hero_item.id)%>"><%= image_tag hero_item.item.image, :width => "50px"%>
						<span><%= hero_item.item.name %></span>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
</section>

<section class="scene-actions">
	<h2>E ai, o que você faz?</h2>
	
	<ul>
		<% @scene_actions.each do |s| %>
			<li><a href="<%= take_action_path(s[0]) %>"><%= s[1] %></a></li>
		<% end %>
	</ul>
</section>

<%#= audio_tag("barg-forest.mp3", autoplay: true) %>

<script>
	//$('body').backstretch('<%= @logged_data.scene.image %>')
</script>