<%= form_for(@scene_action) do |f| %>
  <% if @scene_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene_action.errors.count, "error") %> prohibited this scene_action from being saved:</h2>

      <ul>
      <% @scene_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :scene_id %><br>
	<%= select_tag "scene_action[scene_id]", options_for_select(@scenes_array)%><br>
  </div>
  <div class="field">
    <%= f.label :scene_callback_id %><br>
	<%= select_tag "scene_action[scene_callback_id]", options_for_select(@scenes_array)%><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
