<h1>Listing scene_actions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Scene</th>
      <th>Scene callback</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scene_actions.each do |scene_action| %>
      <tr>
        <td><%= scene_action.name %></td>
        <td><%= scene_action.scene %></td>
        <td><%= scene_action.scene_callback_id %></td>
        <td><%= link_to 'Show', scene_action %></td>
        <td><%= link_to 'Edit', edit_scene_action_path(scene_action) %></td>
        <td><%= link_to 'Destroy', scene_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene action', new_scene_action_path %>
